.flex{
    display:flex;
}

.italic{
    color:rgb(107, 106, 104);
    font-style: italic;
}

.header{
    border-radius: 10px;
    background-color: blueviolet;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.center{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: blueviolet;
    color: white;
}

.card{
    margin: 10px;
    border: solid 1px;
}

.title{
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid 1px;
    margin: auto;
}
.e1f1d6gn2{
    border: solid white;
}

.justify{
    text-align: justify;
    margin:10px;
}